body {
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("flock.jpg"); 
    background-size: cover;
    width: 100%;
    /*z-index: -1;*/
}

.container-fluid {
    color: white;
    margin-top: 2%;
    padding: 20px;
    width: 960px;
    background-color: black;
    /*opacity: 1;*/
}

h1 {
    text-shadow: 3px 2px rgba(0, 255, 21, 0.502);
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    margin: 2%;
    padding: 0;
    color: blue;
    background-color: white;
}

h2 {
    margin: 10px;
}